services:
  n8n:
    image: n8nio/n8n:latest
    container_name: X-TR-Trends-n8n
    ports:
      - "5678:5678"
    env_file:
      - variables.env
    environment:
      - TZ=Europe/Istanbul
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_DIAGNOSTICS_ENABLED=false
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

volumes:
  n8n_data:
